.app{
    height: 100%;
    padding: 50px;
    background-color: black;
    border-radius: 100px;
}

.lighttheme{
    background-color: antiquewhite;
    color: black;
}

.darktheme{
    background-color: black;
    color: white;
}